<section class="resume-section with-bg spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-7 offset-xl-2">
        <div class="section-title">
          <h2>Education</h2>
        </div>
        <ul class="resume-list">
          <% educationlist.forEach(function(education) { %>
          <li>
            <h2><%= education.YEAR %></h2>
            <h3><%= education.EDUCATION %></h3>
            <h4><%= education.COLLEGE %></h4>
            <p><%= education.DESC %></p>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</section>
