<section class="resume-section spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-7 offset-xl-2">
        <div class="section-title">
          <h2>Work Experience</h2>
        </div>
        <ul class="resume-list">
          <% workexperiences.forEach(function(experience) { %>
          <li>
            <h2><%= experience.DURATION %></h2>
            <h3><%= experience.COMPANY %></h3>
            <h4><%= experience.POSITION %></h4>
            <p><%= experience.DESC %></p>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</section>
